{% if initial_macros is defined -%}
{% for macro in initial_macros -%}
{{ macro }}
{% endfor %}
{% endif -%}
Name:           {{ package_name }}
Version:        {{ python_version|join('.') }}
Release:        {{ build_number }}%{?dist}
Summary:        Interpreter of the Python programming language

License:        Python
URL:            https://www.python.org/
Source0:        https://www.python.org/ftp/python/%{version}/Python-%{version}.tgz

{% if requires is defined -%}
{% for require in requires -%}
BuildRequires:  {{ require }}
{% endfor %}
{% endif -%}
## Fixes
# disable shebang mangling of python scripts
%undefine __brp_mangle_shebangs
# disable the creation of debug RPMs
%define debug_package %{nil}

%description
Python is an accessible, high-level, dynamically typed, interpreted programming
language, designed with an emphasis on code readability.
It includes an extensive standard library, and has a vast ecosystem of
third-party libraries.

This uses the upstream method using altinstall which would install in /usr/local

%prep
%setup -q -n Python-%{version}
{% if prep_extras is defined -%}
{% for prep_extra in prep_extras -%}
{{ prep_extras }}
{% endfor %}
{%- endif %}
%build
%{_builddir}/Python-%{version}/configure --enable-optimizations --with-lto --enable-loadable-sqlite-extensions
make buildbottest

%install
rm -rf %{buildroot}
make altinstall DESTDIR=%{buildroot}
{%- if doc_file is defined %}
# Compress man page
%{__gzip} --name --best {{ doc_file }}
{%- endif %}
{%- if (installed_files is defined) or (doc_file is defined) %}

%files
{%- if installed_files is defined %}
{%- for installed_file in installed_files %}
{{ installed_file }}
{%- endfor %}
{%- endif %}
{%- if doc_file is defined %}
%doc {{ doc_file }}.gz
{%- endif %}
{%- endif %}
{%- if changelog is defined %}

%changelog
{{ changelog }}
{%- endif %}